.message {
    position: absolute;
    left: 450px;
    top: 150px;
    display: block;
    padding: 5px 10px;
    width: 400px;
    height: 100px;
    background-color: #6c757d;
    border: none;
    color: #0e0e0e;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .41);
    z-index: 1;
}

.messageh4 {
    padding: 35px 20px 20px;
}

