<!DOCTYPE html>
<html>

{% include "head.html" %}

<body>

    {% include "header.html" %}

    {% if messages %}
        {% for message in messages %}
        <div class="message alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4 class="messageh4">{{ message }}</h4>
        {% endfor %}
        </div>
    {% endif %}

    {% block content %}
    {% endblock content %}

    {% include "footer.html" %}
    {% include "scripts.html" %}

</body>

</html>