{% load static %}
    <!-- JavaScri' %}pt files-->
    <script src="{% static '../static/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '../static/vendor/popper.js/umd/popper.min.js' %}"> </script>
    <script src="{% static '../static/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '../static/vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
    <script src="{% static '../static/vendor/@fancyapps/fancybox/jquery.fancybox.min.js' %}"></script>
    <script src="{% static '../static/js/front.js' %}"></script>

    <script src="{% static 'hightlight.pack.js' %}"></script>
    <script>hljs.initHighLightingOnLoad();</script>
