{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="offset-4 mt-5 mb-5" style="border: darkgray solid 1px;
                                       padding: 35px;
                                       width: 400px">

<h4 style="color: darkgray; padding-left: 15px">{% trans "Sign Out" %}</h4>

  <small><p style="padding-left: 15px;">{% trans 'Are you sure you want to sign out?' %}</p></small>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="btn-div pull-center col-11">
    <button class="btn btn-primary btn-block" style="background-color: darkgray" type="submit">{% trans "Sign out" %}</button>
  </div>
</form>
</div>


{% endblock %}
