{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="offset-4 mt-5 mb-5" style="border: darkgray solid 1px;
                                       padding: 35px;
                                       width: 400px">
        <h4 class="text-center">Your password is now changed.</h4>
        <small><a class="button secondaryAction" style="padding: 20px 0 0 120px" href="{% url 'account_login' %}">{% trans "Please Sign In" %}</a></small>

    </div>
{% endblock %}
