{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="offset-4 mt-5 mb-5" style="border: darkgray solid 1px;
                                       padding: 35px;
                                       width: 400px">

<h4 style="color: darkgray; padding-left: 10px">{% trans "Sign Up" %}</h4>

  <small><p style="padding-left: 10px">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p></small>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="col-11">
    {{ form|crispy }}
  </div>

  <input type="hidden" name="{{ redirect_field_name }}" value="{{ '/' }}" />

   <div class="btn-div pull-center col-11">
    <button class="btn btn-primary btn-block" style="background-color: darkgray" type="submit">{% trans "Sign up" %}</button>
  </div>
</form>

</div>

{% endblock %}
